
.idea/.idea.CommonModule/.idea/vcs.xml
.idea/.idea.CommonModule/.idea/indexLayout.xml
CommonModule.Core/obj/CommonModule.Core.csproj.nuget.dgspec.json
CommonModule.Core/obj/CommonModule.Core.csproj.nuget.g.props
CommonModule.Core/obj/CommonModule.Core.csproj.nuget.g.targets
CommonModule.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.AssemblyInfo.cs
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.AssemblyInfoInputs.cache
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.assets.cache
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.csproj.AssemblyReference.cache
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.GeneratedMSBuildEditorConfig.editorconfig
CommonModule.Core/obj/Debug/net9.0/CommonModule.Core.GlobalUsings.g.cs
CommonModule.Core/obj/project.assets.json
CommonModule.Core/obj/project.nuget.cache
CommonModule.Core/obj/project.packagespec.json
CommonModule.Core/obj/rider.project.model.nuget.info
CommonModule.Core/obj/rider.project.restore.info
CommonModule.Shared/obj/rider.project.restore.info
CommonModule.Shared/obj/project.packagespec.json
CommonModule.Shared/obj/project.nuget.cache
CommonModule.Shared/obj/project.assets.json
CommonModule.Shared/obj/Debug/net9.0/CommonModule.Shared.GlobalUsings.g.cs
CommonModule.Shared/obj/Debug/net9.0/CommonModule.Shared.GeneratedMSBuildEditorConfig.editorconfig
CommonModule.Shared/obj/Debug/net9.0/CommonModule.Shared.assets.cache
CommonModule.Shared/obj/Debug/net9.0/CommonModule.Shared.AssemblyInfoInputs.cache
CommonModule.Shared/obj/Debug/net9.0/CommonModule.Shared.AssemblyInfo.cs
CommonModule.Shared/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CommonModule.Shared/obj/CommonModule.Shared.csproj.nuget.g.targets
CommonModule.Shared/obj/CommonModule.Shared.csproj.nuget.g.props
CommonModule.Shared/obj/CommonModule.Shared.csproj.nuget.dgspec.json
CommonModule.Repositories/obj/rider.project.restore.info
CommonModule.Repositories/obj/rider.project.model.nuget.info
CommonModule.Repositories/obj/project.packagespec.json
CommonModule.Repositories/obj/project.nuget.cache
CommonModule.Repositories/obj/project.assets.json
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.GlobalUsings.g.cs
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.GeneratedMSBuildEditorConfig.editorconfig
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.csproj.AssemblyReference.cache
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.assets.cache
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.AssemblyInfoInputs.cache
CommonModule.Repositories/obj/Debug/net9.0/CommonModule.Repositories.AssemblyInfo.cs
CommonModule.Repositories/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CommonModule.Repositories/obj/CommonModule.Repositories.csproj.nuget.g.targets
CommonModule.Repositories/obj/CommonModule.Repositories.csproj.nuget.g.props
CommonModule.Repositories/obj/CommonModule.Repositories.csproj.nuget.dgspec.json
CommonModule.Interfaces/obj/CommonModule.Interfaces.csproj.nuget.dgspec.json
CommonModule.Interfaces/obj/CommonModule.Interfaces.csproj.nuget.g.props
CommonModule.Interfaces/obj/CommonModule.Interfaces.csproj.nuget.g.targets
CommonModule.Interfaces/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.AssemblyInfo.cs
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.AssemblyInfoInputs.cache
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.assets.cache
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.csproj.AssemblyReference.cache
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.GeneratedMSBuildEditorConfig.editorconfig
CommonModule.Interfaces/obj/Debug/net9.0/CommonModule.Interfaces.GlobalUsings.g.cs
CommonModule.Interfaces/obj/project.assets.json
CommonModule.Interfaces/obj/project.nuget.cache
CommonModule.Interfaces/obj/project.packagespec.json
CommonModule.Interfaces/obj/rider.project.model.nuget.info
CommonModule.Interfaces/obj/rider.project.restore.info
